<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UniT</title>
    <link rel="icon" th:href="@{images/logo.png}" type="image/png" />
    <link rel="icon" th:href="@{images/logo.png}" type="image/png" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" th:href="@{css/start.css}" />
  </head>
  <body class="register-body">
    <form
      class="form"
      method="post"
      th:action="@{/register/save}"
      th:object="${user}"
    >
      <p>Register</p>
      <div class="group">
        <input
          required="true"
          class="main-input"
          type="text"
          name="email"
          th:field="*{email}"
        />
        <span class="highlight-span"></span>
        <label class="lebal-email">Email</label>
        <p
          th:errors="*{email}"
          class="text-danger"
          th:if="${#fields.hasErrors('email')}"
        ></p>
      </div>
      <div class="container-1">
        <div class="group">
          <input
            required="true"
            class="main-input"
            type="text"
            name="name"
            th:field="*{name}"
          />
          <span class="highlight-span"></span>
          <label class="lebal-email">Name</label>
          <p
            th:errors="*{name}"
            class="text-danger"
            th:if="${#fields.hasErrors('name')}"
          ></p>
        </div>
      </div>

      <div class="container-1">
        <div class="group">
          <input
            required="true"
            class="main-input"
            type="text"
            name="username"
            th:field="*{username}"
          />
          <span class="highlight-span"></span>
          <label class="lebal-email">Username</label>
          <p
            th:errors="*{username}"
            class="text-danger"
            th:if="${#fields.hasErrors('username')}"
          ></p>
        </div>
      </div>

      <div class="container-1">
        <div class="group">
          <input
            required="true"
            class="main-input"
            type="password"
            name="password"
            th:field="*{password}"
          />
          <span class="highlight-span"></span>
          <label class="lebal-email">Password</label>
          <p
            th:errors="*{password}"
            class="text-danger"
            th:if="${#fields.hasErrors('password')}"
          ></p>
        </div>
      </div>
      <div class="col-lg-12 text-center mt-5">
        <input
          type="submit"
          value="Register"
          class="btn btn-secondary btn-sm btn-custom-login-white"
        />
      </div>
    </form>

    <!-- Bootstrap JS dan Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script th:src="@{js/login.js}"></script>
  </body>
</html>
