<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>UKUIN</title>
<link rel="icon" th:href="@{images/logouin.png}" type="image/png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>


<div class="text-center sidebar-header1">
<div class="text-center sidebar-icon1">
    <img class="sidebar-icon-image" th:src="@{images/logouin.png}" />
    </div>
</div>
</div>
    <!-- Sidebar -->

    <!-- Header -->
    <div class="header-tel-u" style="height: 600px;">
    <div class="row">
    <div class="col-lg-6">
    <svg width="514" height="250" viewBox="0 0 714 329" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="362.622" y="283.32" width="113.678" height="113.678" transform="rotate(-169.15 362.622 283.32)" fill="url(#paint0_linear_1_18)"/>
    <rect x="505.255" y="186.57" width="113.678" height="113.678" transform="rotate(-169.15 505.255 186.57)" fill="url(#paint2_linear_1_18)"/>
    <rect x="402.328" y="34.8328" width="113.678" height="113.678" transform="rotate(-169.15 402.328 34.8328)" fill="url(#paint3_linear_1_18)"/>
    <rect x="646.674" y="90.6423" width="113.678" height="113.678" transform="rotate(-169.15 646.674 90.6423)" fill="url(#paint4_linear_1_18)"/>
    <defs>
    <linearGradient id="paint0_linear_1_18" x1="345.856" y1="229.936" x2="519.69" y2="448.608" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint1_linear_1_18" x1="242.929" y1="78.1989" x2="416.764" y2="296.871" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint2_linear_1_18" x1="488.488" y1="133.185" x2="662.323" y2="351.857" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint3_linear_1_18" x1="385.562" y1="-18.5516" x2="559.397" y2="200.121" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint4_linear_1_18" x1="629.907" y1="37.258" x2="803.742" y2="255.93" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
        </defs>
        </svg> 
        </div>
        <div class="col-lg-1"></div>
        </div> 
        <img class="right-logo-image" th:src="@{images/prof.png}" />
        <img class="right-image" th:src="@{images/bg.png}" />
        <div class="right-logo-outer2"><a style="text-decoration:none" th:href="@{/ukm}"><button class="primary-button">UKM</button></a></div>
        <div class="right-logo-outer3"><a style="text-decoration:none" th:href="@{/event}"><button class="primary-button">Event</button></a></div>
        <div class="right-logo-outer1"><a style="text-decoration:none" th:href="@{/login}"><button class="primary-button">Login</button></a></div>
        <div class="svg-container" >
    <svg style="z-index: 1;" width="473" height="400" viewBox="0 0 473 486" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4.87122" y="62.1997" width="113.678" height="113.678" transform="rotate(-48.4743 4.87122 62.1997)" fill="url(#paint0_linear_1_8)"/>
            <rect x="187.886" y="51.0886" width="113.678" height="113.678" transform="rotate(-48.4743 187.886 51.0886)" fill="url(#paint1_linear_1_8)"/>
            <rect x="370.901" y="39.9775" width="113.678" height="113.678" transform="rotate(-48.4743 370.901 39.9775)" fill="url(#paint2_linear_1_8)"/>
            <rect x="15.3157" y="234.234" width="113.678" height="113.678" transform="rotate(-48.4743 15.3157 234.234)" fill="url(#paint3_linear_1_8)"/>
            <rect x="198.331" y="223.123" width="113.678" height="113.678" transform="rotate(-48.4743 198.331 223.123)" fill="url(#paint4_linear_1_8)"/>
            <rect x="381.346" y="212.011" width="113.678" height="113.678" transform="rotate(-48.4743 381.346 212.011)" fill="url(#paint5_linear_1_8)"/>
            <rect x="25.6713" y="404.804" width="113.678" height="113.678" transform="rotate(-48.4743 25.6713 404.804)" fill="url(#paint6_linear_1_8)"/>
            <rect x="208.686" y="393.692" width="113.678" height="113.678" transform="rotate(-48.4743 208.686 393.692)" fill="url(#paint7_linear_1_8)"/>
            <rect x="391.701" y="382.581" width="113.678" height="113.678" transform="rotate(-48.4743 391.701 382.581)" fill="url(#paint8_linear_1_8)"/>
    <defs>
    <linearGradient id="paint0_linear_1_8" x1="-11.8953" y1="8.81534" x2="161.94" y2="227.488" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint1_linear_1_8" x1="171.12" y1="-2.29574" x2="344.954" y2="216.377" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint2_linear_1_8" x1="354.135" y1="-13.4068" x2="527.969" y2="205.265" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint3_linear_1_8" x1="-1.45084" y1="180.849" x2="172.384" y2="399.522" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint4_linear_1_8" x1="181.564" y1="169.738" x2="355.399" y2="388.41" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint5_linear_1_8" x1="364.579" y1="158.627" x2="538.414" y2="377.299" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint6_linear_1_8" x1="8.90475" y1="351.419" x2="182.74" y2="570.092" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint7_linear_1_8" x1="191.92" y1="340.308" x2="365.755" y2="558.98" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="paint8_linear_1_8" x1="374.935" y1="329.197" x2="548.77" y2="547.869" gradientUnits="userSpaceOnUse">
        <stop stop-color="#D86636"/>
        <stop offset="1" stop-color="#D86636" stop-opacity="0"/>
    </linearGradient>
    </defs>
    </svg>
    </div>
    <h1 class="text-title" style="padding-left:145px;"><strong>UKUIN</strong></h1>
        <h1 class="text-title" style="padding-left:1px;"><strong>(UKM UIN SGD)</strong></h1>
    <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4" style="z-index: 3; margin-left: 87%;">
    </div>
            </div>
            </div>
        </div>
        <!-- Header -->
        
        <!-- Container (About Section) -->
<div class="container_" style="background-image: url('@{images/'});">
<div class="row">
    <div class="column-33">
        <img th:src="@{images/fabbis.png}" alt="App" width="500" height="471">
    </div>
    <div class="column-66">
        <h1 class="xlarge-font" style="color: #cd4e28;"><b>Cari UKM</b></h1>
        <h1 class="large-font" style="color:red;"><b>Untuk Mahasiswa?</b></h1>
        <p><span style="font-size:24px">Daftar UKM </span> terlengkap dan terupdate dari UIN Sunan Gunung Djati Bandung. Dengan puluhan pilihan yang mencakup seni, olahraga, akademik, hingga sosial, anda dapat menemukan UKM yang sesuai dengan minat anda. Setiap UKM telah diverifikasi untuk memastikan informasi akurat dan dapat dipercaya. Informasi terperinci mengenai detail UKM yang akan memudahkan Anda membuat keputusan yang tepat. Temukan UKM yang akan memberikan pengalaman berharga dan bermanfaat di website kami.</p>
        <button class="button_" style="background-color:#cd4e28">Read More</button>
    </div>
    </div>
</div>

<div class="container_" style="background-image: url(@{'images/yyyy.png'});">
    <div class="row">
    <div class="column-66">
        <h1 class="xlarge-font" style="text-align: end;"><b>Informasi</b></h1>
        <h1 class="large-font" style="text-align: end;"><b>Event</b></h1>
        <p><span style="font-size:36px">Detail event </span>  dihadirkan dalam daftar lengkap yang akan diselenggarakan oleh UKM terdaftar, mulai dari seminar, workshop, kompetisi, hingga kegiatan sosial. Dengan platform kami, Anda tidak akan ketinggalan informasi mengenai event-event menarik yang dapat menambah pengalaman dan pengetahuan Anda..</p>
        <button class="button_">Download Application</button>
    </div>
    <div class="column-33">
    <img th:src="@{images/perbama.png}" width="600" height="471" >
    </div>
    </div>
</div>
<!-- Data slese -->
    </div>
    

<footer class="footer" style="margin-top: 0px;">
    <div class="footer-left">
        <h1 style="padding-left:40px"><strong>Kontak</strong></h1>
        <div class="img_">
        <img th:src="@{images/logouin.png}" width="200px" alt="">
        </div><br>
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Indonesia</span> Bandung, Jawa Barat</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>(022) 7800525</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#">ukuin@uinsgd.ac.id</a></p>
        </div>
    </div>


    <div class="footer-right">
        <div class="footer-media">
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
</div>
</footer>
</body>
</html>
<!-- <--  Wrapper sls --> 
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>
<script type="javascript"></script>

