<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Guy 2021</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" th:href="@{favicon.svg}" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" th:href="@{http://localhost:8008/css/style.css}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="#top">

<!--
  - #HEADER
-->

<header class="header" data-header>
    <div class="container">

        <div class="overlay" data-overlay></div>

        <a th:href="@{/dashboard}" class="logo">
            <img th:src="@{images/logo.svg}" alt="Filmlane logo">
        </a>

        <div class="header-actions">

            <button class="search-btn">
                <ion-icon name="search-outline"></ion-icon>
            </button>

            <div class="lang-wrapper">
                <label for="language">
                    <ion-icon name="globe-outline"></ion-icon>
                </label>

                <select name="language" id="language">
                    <option value="en">EN</option>
                    <option value="au">AU</option>
                    <option value="ar">AR</option>
                    <option value="tu">TU</option>
                </select>
            </div>

            <form name="logoutForm" th:action="@{/logout}" method="post">
                <input class="btn btn-primary" type="submit" value="Sign Out"/>
            </form>

        </div>

        <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="reorder-two"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

            <div class="navbar-top">

                <a th:href="@{/}" class="logo">
                    <img th:src="@{images/logo.svg}" alt="Filmlane logo">
                </a>

                <button class="menu-close-btn" data-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

            </div>

            <ul class="navbar-list">

                <li>
                    <a th:href="@{/home}" class="navbar-link">Home</a>
                </li>

                <li>
                    <a th:href="@{/movies}" class="navbar-link">Movie</a>
                </li>
            </ul>

            <ul class="navbar-social-list">

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-pinterest"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="navbar-social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</header>





<main>
    <article>

        <!--
          - #MOVIE DETAIL
        -->

        <section class="movie-detail" th:style="'background-image: url(\'' + ${movie.movieBackdropUrl} + '\');'">
            <div class="container">

                <figure class="movie-detail-banner">

                    <img th:src="${movie.moviePosterUrl}" alt="Free guy movie poster">

                    <button class="play-btn">
                        <ion-icon name="play-circle-outline"></ion-icon>
                    </button>

                </figure>

                <div class="movie-detail-content">

                    <p class="detail-subtitle">New Episodes</p>

                    <h1 class="h1 detail-title" th:text="${movie.movieName}">
                    </h1>

                    <div class="meta-wrapper">

                        <div class="badge-wrapper">
                            <div class="badge badge-fill" th:text="${movie.movieTags}"></div>

                            <div class="badge badge-outline">HD</div>
                        </div>

                        <div class="ganre-wrapper">
                            <a href="" th:text="${movie.genre}"></a>
                        </div>

                        <div class="date-time">

                            <div>
                                <ion-icon name="calendar-outline"></ion-icon>

                                <time th:text="${movie.year}"></time>
                            </div>

                            <div>
                                <ion-icon name="time-outline"></ion-icon>

                                <time th:text="${movie.durationInMinute}"> min</time>
                            </div>

                        </div>

                    </div>

                    <p class="storyline" th:text="${movie.description}">
                    </p>

                    <div class="details-actions">

                        <button class="share">
                            <ion-icon name="share-social"></ion-icon>

                            <span>Share</span>
                        </button>

                        <a class="btn btn-primary" href="#popup">
                            <ion-icon name="play"></ion-icon>

                            <span>Watch Trailer</span>
                        </a>

                        <div id="popup">
                            <div class="popup">
                                <iframe
                                        class="popup-video"
                                        src="https://www.youtube.com/embed/uYPbbksJxIg?si=WIZMWLT90J_GH6Bf"
                                        height="100%"
                                        allowfullscreen="allowfullscreen"
                                ></iframe>
                            </div>

                            <div class="popup-close">
                                <a href="#top">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <a href="./assets/images/movie-4.png" download class="download-btn">
                        <span>Download</span>

                        <ion-icon name="download-outline"></ion-icon>
                    </a>

                </div>

            </div>
        </section>





        <!--
          - #TV SERIES
        -->

        <section class="tv-series">
            <div class="container">

                <p class="section-subtitle">Best TV Series</p>

                <h2 class="h2 section-title">World Best TV Series</h2>

                <ul class="movies-list  has-scrollbar">
                    <li th:each="movie : ${movies}">
                        <div class="movie-card">
                            <a th:href="@{/movie-details/{id}(id = ${movie.id}) }">
                                <figure class="card-banner">
                                    <img th:src="${movie.moviePosterUrl}" alt="The Northman movie poster">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a th:href="@{/movie-details}">
                                    <h3 class="card-title" th:text="${movie.movieName}"></h3>
                                </a>

                                <time th:text="${movie.year}"></time>
                            </div>

                            <div class="card-meta">
                                <div class="badge badge-outline">HD</div>

                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time th:text="${movie.durationInMinute}"> min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>8.5</data>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>

            </div>
        </section>

    </article>
</main>





<!--
  - #FOOTER
-->

<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand-wrapper">

                <a th:href="@{/}" class="logo">
                    <img th:src="@{http://localhost:8008/images/logo.svg}" alt="Filmlane logo">
                </a>

                <ul class="footer-list">

                    <li>
                        <a th:href="@{/home}" class="footer-link">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/movies}" class="footer-link">Movie</a>
                    </li>
                </ul>

            </div>

            <div class="divider"></div>

            <div class="quicklink-wrapper">

                <ul class="quicklink-list">

                    <li>
                        <a href="#" class="quicklink-link">Faq</a>
                    </li>

                    <li>
                        <a href="#" class="quicklink-link">Help center</a>
                    </li>

                    <li>
                        <a href="#" class="quicklink-link">Terms of use</a>
                    </li>

                    <li>
                        <a href="#" class="quicklink-link">Privacy</a>
                    </li>

                </ul>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-pinterest"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
            </p>

            <img th:src="@{images/footer-bottom-img.png}" alt="Online banking companies logo" class="footer-bottom-img">

        </div>
    </div>

</footer>





<!--
  - #GO TO TOP
-->

<a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
</a>





<!--
  - custom js link
-->
<script th:src="@{js/script.js}"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>