<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
</head>
<body>
<form action="#" th:action="@{/movie-form/update/{id}(id = ${movie.id})}" th:object="${movie}" method="post">
    <label for="moviename">Movie Name:</label><br>
    <input type="text" id="moviename" th:field="${movie.movieName}" th:value="${movie.movieName}"><br>
    <label for="year">Movie Year:</label><br>
    <input type="text" id="year" th:field="${movie.year}" th:value="${movie.year}"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" th:field="${movie.description}"></textarea><br>
    <label for="durationinminute">Duration (in minutes):</label><br>
    <input type="number" id="durationinminute" th:field="${movie.durationInMinute}" th:value="movie.durationInMinute"><br>
    <label for="trailerlink">Trailer Link:</label><br>
    <input type="text" id="trailerlink" th:field="${movie.trailerLink}" th:value="movie.trailerLink"><br>
    <label for="movieposterurl">Movie Poster URL:</label><br>
    <input type="text" id="movieposterurl" th:field="${movie.moviePosterUrl}" th:value="movie.moviePosterUrl"><br>
    <label for="moviebackdropurl">Movie Backdrop URL:</label><br>
    <input type="text" id="moviebackdropurl" th:field="${movie.movieBackdropUrl}" th:value="movie.movieBackdropUrl"><br>
    <label for="movietags">Movie Tags:</label><br>
    <input type="text" id="movietags" th:field="${movie.movieTags}" th:value="movie.movieTags"><br>
    <label for="genres">Genres:</label><br>
    <input type="text" id="genres" th:field="${movie.genre}" th:value="movie.genre"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
