<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Table with Add and Delete Row Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="table.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>List<b> Movie</b></h2></div>
                    <div class="col-sm-8"><a href="movie-form"><p>Add Movie</p></a></div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
        <th>Movie Name</th>
        <th>Description</th>
        <th>Duration (in minutes)</th>
        <th>Trailer Link</th>
        <th>Movie Poster URL</th>
        <th>Movie Backdrop URL</th>
        <th>Movie Tags</th>
        <th>Rating</th>
        <th>Genres</th>
    </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.movieName}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.durationInMinute}"></td>
        <td th:text="${movie.trailerLink}"></td>
        <td th:text="${movie.moviePosterUrl}"></td>
        <td th:text="${movie.movieBackdropUrl}"></td>
        <td th:text="${movie.movieTags}"></td>
        <td th:text="${movie.rating}"></td>
        <td th:text="${movie.genre}"></td>
                    <td>
                        <a class="edit" title="Edit" data-toggle="tooltip" th:href="@{/movie-form/{id}(id = ${movie.id}) }"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" th:href="@{/movie/delete/{id}(id = ${movie.id}) }"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>